.checkoutButton {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 5rem;
    margin-top: 1rem;
}

.checkoutText {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 1rem;
}

.checkoutIcon {
    font-size: 2rem;
}